# ─────────────────────────────────────────
#  Nancy RP Bot — Variables d'environnement
# ─────────────────────────────────────────
#  Sur Railway : ajoutez ces variables dans l'onglet "Variables"

BOT_TOKEN=VOTRE_TOKEN_ICI
CLIENT_ID=ID_APPLICATION_BOT_ICI
